{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],

  "plugins": [
    "styled-jsx/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}
